<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <!-- Dependent class -->
   <!--  <bean id="calc" class="org.ncu.CalculatorApp.Calculator">
    	<constructor-arg ref="add"></constructor-arg>
    	<constructor-arg ref="sub"></constructor-arg>
    </bean>
    
    Dependencies 
    <bean id="add" class="org.ncu.CalculatorApp.AdditionService"></bean>
    
    <bean id="sub" class="org.ncu.CalculatorApp.SubtractionService"></bean> -->
    
    	<!-- Enable component scan -->
    	<context:component-scan base-package="org.ncu.CalculatorApp"></context:component-scan>
</beans>





