<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <!-- <bean id="engGreeting" class="org.ncu.GreetingApp.EnglishGreetingService">
    	<constructor-arg ref="engFortune"></constructor-arg>
    	<constructor-arg ref="freFortune"></constructor-arg>
    </bean>
    
    <bean id="engFortune" class="org.ncu.GreetingApp.fortune.EnglishFortuneService"></bean>
	<bean id="freFortune" class="org.ncu.GreetingApp.fortune.FrenchFortuneService"></bean> -->
	<context:component-scan base-package="org.ncu.GreetingApp"></context:component-scan>
</beans>